.forecast {
  width: 670px;
  position: relative;
  height: auto;
  background: white;
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  .forecast-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.5px solid #e2e2e2;
    // border-left: 0.5px solid #e2e2e2;
    // box-sizing: border-box;
    width: 134px;
    height: 142px;
    color: black;
  }
  .day,
  .temp {
    color: #4a4a4a;
    padding: 12px 0;
  }
  .day {
    font-size: 14px;
    font-weight: bold;
  }
  .temp {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .forecast {
    width: 368px;
    flex-direction: column;
    margin-bottom: 16px;
    // height: 700px;
    // background: green;
    // display: inline-block;
    // flex-direction: column;
    // align-items: center;
    // display: inline-block;
    // flex-wrap: wrap;

    .forecast-day {
      width: 100%;
      // min-width: 184px;
      margin: 0 8px;
      border-right: none;
      flex-direction: row;
      // border-right: 0.5px solid #e2e2e2;

      border-bottom: 0.5px solid #e2e2e2;
    }
    .day,
    .temp {
      padding: 0 12px;
    }
  }
}
