.forecast {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 670px;
  height: 142px;
  .forecast-day {
    display: flex;
    flex-direction: column;
    width: 134px;
    align-items: center;
    border-right: 0.5px solid #e2e2e2;
  }
  .day,
  .temp {
    color: #4a4a4a;
    padding: 12px 0;
  }
  .day {
    font-size: 14px;
    font-weight: bold;
  }
  .temp {
    font-size: 24px;
  }
}

@media only screen and (max-width: 670px) {
  .forecast {
    width: 100%;
    min-width: 320px;
    flex: 1;
  }
}
